/* cards.module.css */
.container {
  height: 80vh;
  width: 100%;
  padding: 2rem 1.25rem;
  margin: 10vh auto;
}

.cardsWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -1rem;
}

.cardItem {
  width: 100%;
  padding: 1rem;
  position: relative;
  border: 1px solid gray;
  border-radius: 1rem;
}
.cardItem a {
  text-decoration: none;
}
.discountRibbon {
  position: absolute;
  top: -1px;
  right: -1px;
  background: #dc2626;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 1rem 3rem 0 1rem; /* rounded-tr-3xl rounded-bl-3xl */
  z-index: 10;
}

.imageContainer {
  position: relative;
  height: 20rem;
  overflow: hidden;
  border-radius: 1rem 3rem 0 0;
}

.image {
  object-fit: contain;
  height: 100%;
}

.details {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.description {
  color: #374151;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.ctaButton {
  display: block;
  width: 100%;
  padding: 0.75rem 1.25rem;
  background: #dc2626;
  color: white;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}

.ctaButton:hover {
  background: white;
  color: black;
  border-color: #dc2626;
}

/* Mantendo a responsividade */
@media (min-width: 768px) {
  .cardItem {
    width: 50%;
    margin: 1rem;
  }
}
@media (max-width: 768px) {
  .cardItem {
    width: 90%;
    margin: 1rem;
  }
}
@media (min-width: 1024px) {
  .cardItem {
    width: 40%;
    margin: 1rem;
  }
}
