.cartContainer {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-around;
    /* display: none; */
}
.icon{
    width: 4vw;
    height: 4vh;
    cursor: pointer;
}
.icon:hover ~  span{
    display: block;
}

.cartContainer div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}
.cartContainer span {
    /* display: none; */
    position: fixed;
    margin-bottom: 10vh;
    background-color: #FF7735;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: none;
}
#hidden {
    display: none;
}
